@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Gruppo";
  src: url("../../public/assets/Fonts/Gruppo/Gruppo-Regular.ttf");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Josefin";
  src: url("../../public/assets/Fonts/Josefin_Sans/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}
.gFont{
  font-family: "Gruppo",sans-serif;
 }
 .jFont{
  font-family: "Josefin",sans-serif;
 }
 .textOutline {
 color: white;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
 }
